<?php
?>
 <div class="page-header">
 	<h2><?php echo $this->translate('Update Ticket'); ?></h2>
 </div>

<div class="row">
	<?php 
	if($error!=null) {
	echo '<div class="alert alert-warning">';
		print_r($error);
	echo '</div>';
	}
	?>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel ">
			<div class="panel-heading"><?php echo $this->translate('Ticket Details'); ?></div>
			<div class="panel-body">
			<?php
			echo $this->partial('cticket/main/content/_ticket.phtml', array(
				'form' => $form,
				'mode' => 'edit',
			));
			?>
			</div>
		</div>
	</div>
</div>
